@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@600&family=Poppins&family=Prompt:ital,wght@1,100&display=swap');

:root{
    --color-accent:#EE9227;
    --color-light:#F5F5F5;
    --color-dark:#333333;
    --handller-font:'Montserrat', sans-serif;
    --main-font:'Inter', sans-serif;
    --menu-font:'Poppins', sans-serif;
}

body{
    margin: 0px;
    font-family: var(--main-font);
    color: var(--color-dark);
    background-color: var(--color-light);
}

h1,h2{
    font-family: var(--handller-font);
    color: var(--color-accent);
    font-size: 54px;
}

a{
    text-decoration: none;
    color: var(--color-dark);
}

ul{
    list-style: none;
    padding: 0px;
}

.container{
    padding: 0% 7%;
}

.btn{
    background-color: var(--color-accent);
    color: var(--color-light);
    font-size: 24px;
    padding: 15px 55px ;
    border: none;
    border-radius: 16px;
    display: flex;
    justify-content: center;
}

.header,footer{
    min-height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-menu{
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: space-between;
}

.header-menu-list{
    display: flex;
    padding: 0px;
    width: 50%;
    justify-content: space-between;
}

.hero,menu,order{
    min-height: 630px;
}

.hero{
    display: flex;
    align-items: center;
}
.hero-content{
    position: relative;
    float: left;
    z-index: 3;

}

.hero-description{
    width: 55%;
    margin: 50px 0px;
}

.hero-title{
    width: 70%;
}

.hero-img img{
    width: 100%;
}

.hero-img{
    width: 55%;
    position: absolute;
    right: 0.5%;
    z-index: 1;
}

.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

.menu-item{
    width: 32%;
    border-radius: 26px;
    border: 1px solid var(--color-accent);
}

.menu-item img {
    width: 100%;
    border-radius: 26px 26px 0px 0px;
}

.menu-item-content{
    padding: 10px 32px;

}

.title-menu-item{
    font-size: 16px;
    color: var(--color-accent);
}

.description-menu-item{
    font-size: 14px;
}

.menu-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 55px;
}

.order{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 60px;
}

.form{
    margin: 55px 0px;
    display: flex;
    flex-direction: column;
}

.inp-form{
    padding: 9px 10px 1px;
    outline: none;
    font-size: 16px;
    background-color: var(--color-light);
    color: #8E8E8E;
    min-height: 30px;
    border: 1px solid;
    border-color:var(--color-light var(--color-light)) var(--color-accent);
    margin-bottom: 50px;
}

.order-content{
    width: 45%;
}

.agree-cook{
    margin-top: 25px;
}

.footer{
    background-color: #584B3C;
}

.social-net{
    display: flex;
    align-items: center;
    width: 13%;
    justify-content: space-between;
}